On branch master
Your branch is up to date with 'origin/master'.

Changes not staged for commit:
  (use "git add <file>..." to update what will be committed)
  (use "git checkout -- <file>..." to discard changes in working directory)

	modified:   articles/admin.py
	modified:   articles/models.py
	modified:   articles/templates/articles/article_detail.html
	modified:   articles/templates/articles/search_results.html
	modified:   djangonautic/settings.py
	modified:   djangonautic/urls.py
	modified:   requirements.txt
	modified:   templates/base_layout.html

no changes added to commit (use "git add" and/or "git commit -a")
