{% extends 'base_layout.html' %}

{% block content %}

    <style>
        body{
            background-color:rgb(11, 57, 206);
        }
    </style>

    <!-- Header -->
	<header id="header" class="alt">
		<a href="#menu">Menu</a>
	</header>

    <h1 class='color'>sign up</h1>
    <br>
    <form class="site-form" action="{% url 'accounts:signup' %}" method="post">
        {% csrf_token %}
        {{form}}
        <div class="g-recaptcha" data-sitekey="6LfF7MUUAAAAAHgAx5Vdiy61ybZM-_TkX-57ECIH"></div>
        <input type="submit" value="Signup">
    </form>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}

{% block section %}
{% endblock section %}