{% extends 'base_layout.html' %}
{% load static from staticfiles %}

{% block content %}
   
   <body>
       <div class="border">
           <!-- <h1>معرفی</h1> -->
           <div id="image">
               <img style="width: 200px; height:200px;" src="{% static 'me.png' %}" alt="not found">
           </div>
           <div class="body">
                <h3 style="float: right">سلام حمید بهرامپور هستم</h3>
                <br>
                <br>
                <h3 style="float: right">python/django</h3>
                <br>
                <br>
                <p style="float: right">.برنامه نویس بک اند هستم و به این کار علاقه دارم و ۲ سال است که برنامه نویسی میکنم و این یک نمونه کار است</p>
           </div>
       </div>
   </body>
    
{% endblock  %}