{% extends 'base_layout.html' %}

{% block content %}
    <h1 class="header">Article list</h1>

    <div class="search">
        <form action="{% url 'articles:search_results' %}" method="get">
            <input name="q" type="text" placeholder="Search ...">
            <input type="submit" value="Search">
        </form>
    </div>  

    {% if messages %}
<div class="messages">
    {% for message in messages %}
    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
    {% endfor %}
</div>
    {% endif %}
<br>
    <div class="articles">
        {% for article in articles %}
            <div class="article">
                <!-- <h2><a href="{% url 'articles:detail' id=article.id %}">{{ article.title }}</a></h2> -->
                <h2><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h2>
                <p>{{ article.body|safe|truncatechars_html:50 }}</p>
                {% comment %} <p>{{ article.snippet |safe}}</p> {% endcomment %}
                <p> create : {{ article.date }}</p>
                <p class="author">added by {{ article.author.username }}</p>
            </div>
        {% endfor %}
    </div>

    <div class="pagination">
        <span class="step-links">
            {% if articles.has_previous %}
                <!-- <a href="?page=1">&laquo; first</a> -->
                <a href="?page={{ articles.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ articles.number }} of {{ articles.paginator.num_pages }}.
            </span>
    
            {% if articles.has_next %}
                <a href="?page={{ articles.next_page_number }}">next</a>
                <!-- <a href="?page={{ articles.paginator.num_pages }}">last &raquo;</a> -->
            {% endif %}
        </span>
    </div>

{% endblock  %}