{% extends 'base_layout.html' %}

{% block content %}
<div class="article-detail">
    <div class="article">
        <img src="{{ article.thumb.url }}" alt="not found">
        <h2 class="header">{{ article.title }}</h2>
        <p>{{ article.body |safe }}</p>
        <p>{{ article.date }}</p>
        <div class="delete">
            <form action="{% url 'articles:delete' slug=article.slug %}" method="get">
                <input type="submit" value="delete">
            </form>
        </div>
    </div>
</div>
{% endblock  %}