{% extends 'base_layout.html' %}

{% block content %}

		 <!-- Header -->
    	<header id="header" class="alt">
    		<div class="logo"><a href="{% url 'articles:list' %}"><img src="/static/css/logo.png" alt="Logo"></a></div>
    		<a href="#menu">Menu</a>
		</header>
	
	<!-- Banner -->
		<section id="banner">
			<div class="inner">
				<header>
					{% comment %} <img src="{{ article.thumb.url }}" alt="" /> {% endcomment %}
				</header>
			</div>
		</section>


		{% if messages %}
		<ul class="messages">
		    {% for message in messages %}
		    <p> {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
		    {% endfor %}
		</ul>
		{% endif %} 

	<!-- Section -->
	    <section class="wrapper">
	    	<div class="inner">
	    		<header class="align-center">
	    			<h1><a href="{% url 'articles:list' %}"> {{ article.title }} </a></h1>
	    			<p>Description</p>
	    		</header>
	    		<div class="flex flex-2">
	    			<div class="col col2">
	    				<h4>{{ article.body|safe }}</h4>
	    				<p> create :  {{ article.date }}</p>
	    				<p> update :  {{ article.updatedatetime }}</p>
	    			</div>
	    			<div class="col col1 first">
	    				<div class="image round fit">
	    					<img src="{{ article.thumb.url }}" alt="" />
	    				</div>
	    			</div>
	    		</div>
                
                <div class="edit">
                    <form action="{% url 'articles:edit' slug=article.slug %}">
                        <input type="submit" value="edit">
                    </form>
                </div>
    
                <div class="delete">
                    <form action="{% url 'articles:delete' slug=article.slug %}" method="get">
                        <input type="submit" value="delete">
                    </form>
                </div>
	    	</div>
	    </section>
{% endblock content %}

{% block section %}
{% endblock section %}