{% extends 'base_layout.html' %}
{% load i18n %}

{% block content %}

    <header id="header" class="alt">
    	<a href="#menu">Menu</a>
    </header>

    

    <div class="edit-article">
        <form class="edit-form" method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
            {{form}}
            <button type="submit">{% trans "save"  %}</button>
        </form>
    </div>
    <script src="/static/slugify.js"></script>
{% endblock  %}

{% block section %}
{% endblock section %}