{% extends 'base_layout.html' %}
{% load i18n %}

{% block content %}

    <style>
        body{
            background-color: #0f121f;
        }
    </style>

    <header id="header" class="alt">
        <div class="logo"><a href="{% url 'articles:list' %}"><img src="/static/css/logo.png" alt="Logo"></a></div>
    	<a href="#menu">Menu</a>
    </header>

    <h1 class="labll" >Edit</h1>

    <div class="edit-article">
        <form class="site-form" method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
            {{form}}
            <br>
            <button type="submit">{% trans "save"  %}</button>
        </form>
    </div>
    <script src="/static/slugify.js"></script>
{% endblock  %}

{% block section %}
{% endblock section %}