{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
     <!-- materia icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Article</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <header class="wrapper">
        <h1><a href="{% url 'home' %}"><img src="{% static 'logo.png' %}" alt="not found"></a></h1>
        <nav>
            <ul>
                <li><a href="{% url 'articles:aboutme' %}" class="about">about-me</a></li>
                {% if user.is_authenticated %}
                <li>
                    <form class="logout-link" action="{% url 'accounts:logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Logout</button>
                    </form>
                   <li><a href="{% url 'articles:create' %}" class="highlight">New Article</a></li>
                   {% else %}
                   <li class="login"><a href="{% url 'accounts:login' %}">Login</a></li>
                   <li class="signup"><a href="{% url 'accounts:signup' %}">Signup</a></li>
                   {% endif %}
                <li>
            </ul>
        </nav>
    </header>
    <div class="wrapper">
        {% block content %}
        {% endblock  %}
    </div>
    <footer>
        <nav>
            <ul>
                <!-- <a href="mailto:hamidbahram2@gmail.com"><i class="material-icons">email</i></a>
                <br> -->
                <div class="email">
                    <i class="material-icons">email
                        <span style="font-size: 70%">hamidbahram2@gmail.com</span>
                    </i>
                </div>
                <div>
                    <i class="material-icons">phone_android
                        <span style="font-size: 70%">09373102230</span>
                    </i>
                </div>
                <div class="instagram">
                    <a href="https://www.instagram.com/_hamiid_bh/" target="blank">
                        <img src="{% static 'insta3.png' %}" alt="not found">
                    </a>
                </div>
                <div class="linkedin">
                    <a href="https://www.linkedin.com/in/hamid-bahram-091109184/" target="blank">
                        <img src="{% static 'LinkedIn.png' %}" alt="not found">
                    </a>
                </div>
                <div class="github">
                    <a href="https://github.com/hamidbahram" target="blank">
                        <img src="{% static 'Github.png' %}" alt="not found">
                    </a>
                </div>
            </ul>
        </nav>
    </footer>
</body>
</html>